/*===========================
	NAVIGATION
=============================*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidenav {
	height: 100%;
	width: 185px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	overflow-x: hidden;
}

.sidenav a {
	padding: 10px 15px 10px 25px;
	text-decoration: none;
	font-size: 23px;
	color: #fff;
	display: block;
}

.sidenav ul li:first-child {
	height: 150px;
	background-color: rgb(30,30,30);
	border-bottom: 2px solid #fff;
}

.sidenav ul li a:hover {
	background-color: rgb(20,65,25);
	color: #000;
	font-weight: bold;
}

.sidenav ul li:first-child a:hover {
	background-color: rgb(30,30,30);
	color: #fff;
}

/*===========================
	JUMBOTRON
=============================*/
#matrix {
	background-image: url("../img/matrix.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(28, 37, 40, 1);
}

.jumbotron-fluid {
	margin-bottom: auto;
}

#hello {
	color: white;
	font-family: 'SFPixelateRegular', "Times New Roman", Arial;
	margin-top: -30px;
}

.sd {
	color: white;
	font-family: "Brush Script MT", "Apple Chancery", cursive;
	font-style: italic;
	font-size: 30px;
}

.google {
	width: 325px;
	position: relative;
	top: 300px;
}

.gs {
	width: 325px;
	border:3px solid #000;
	border-radius: 15px;
}

.form-control:focus {
	border: 3px ridge green;
	width: 220px;
}

/*===========================
	CARD GROUP (DEVELOPER SKILLS)
=============================*/
#skills {
	font-family: "Times New Roman";
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	padding: 75px 0 50px 0;
}
.card-group .card-body {
	height: 250px;
}
.card-group img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 75%;
	max-height: 75%;
}

.card-group .card-text {
	margin-left: 10%;
}

.card-group .card-title {
	text-decoration: underline overline;
}

/*===========================
	SLIDESHOW (PROJECTS)
=============================*/
#project {
	background-color: rgb(100,100,100);
	height: 700px;
	max-height: 700px;
}

.carousel-item img {
	width: auto;
	height: 400px;
	max-height: 400px;
	margin-top: 130px;
}

.pinfo {
	
}

/*===========================
	EDUCATION
=============================*/
.jumbotron {
	height: 700px;
	max-height: 700px;
}

/*===========================
	FORM (CONTACT)
=============================*/
#contact {
	width: 500px;
	height:500px;
	margin-top: 50px;
	border: 3px solid #000;
	border-radius: 15px;
}

.form-header {
	width: 100%;
	height: 10%;
	background-color: #d3def0;
	border-bottom: 2px dashed #000;
	text-align: center;
	font-family: ;
	font-size: 30px;
	font-weight: bold;
	border-radius: 13px 13px 0 0;
}

form {
	height: 90%;
	background-color: #eff0f2;
	border-radius: 0 0 13px 13px;
}

input {
	width: 75%;
	font-family: caption;
	font-size: 18px;
	padding: 7px;
	margin-top: 15px;
	text-align: left;
}

.msg {
	height: 125px;
	padding-bottom: 100px;
}

input:focus {
	border: 5px inset #aaa;
	font-style: italic;
}

form .contact_btn {
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	background-color: #12a0e8;
	margin: 15px 0 0 75%;
}

form .contact_btn:hover {
	border: 3px solid #fff;
	box-shadow: 5px 5px 10px #000, 5px -5px 10px #000, -5px 5px 10px #000, -5px -5px 10px #000;
}