html {
	scroll-behavior: smooth;
}

/*===========================
	NAVIGATION
=============================*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidenav {
	height: 100%;
	width: 100px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	overflow-x: hidden;
}

#sidenav a {
	padding: 10px 0px 10px 0px;
	margin-bottom: 18px;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	color: #fff;
	display: block;
	height: 65px;
}

#sidenav p {
	opacity: 0;
	font-style: italic;
	font-size: 23px;
	padding: 10px 0px 10px 0px;
}

#sidenav p:hover {
	opacity: 1;
	transition: 0.7s ease-in;
}

#sidenav ul li:first-child {
	height: 130px;
	background-color: rgb(30,30,30);
	border-bottom: 2px solid #fff;
	text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}


#sidenav ul li:first-child a:hover {
	font-weight: bold;
	text-shadow:
       2px 2px 4px #fff,
     -2px -2px 4px #fff,  
      2px -2px 4px #fff,
      -2px 2px 4px #fff,
       2px 2px 4px #fff;
	   transition: 0.2s ease-out;
}

#sidenav ul li a.active {
	background-image: radial-gradient(circle, black 30%, white);
	border: 2px solid #fff;
	box-shadow: 5px 5px 10px #fff,
				5px -5px 10px #fff,
				-5px 5px 10px #fff,
				-5px -5px 10px #fff;
}

/*===========================
	JUMBOTRON
=============================*/
#matrix {
	background-image: url("../img/matrix.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(28, 37, 40, 1);
	height: 900px;
}

.jumbotron-fluid {
	margin-bottom: auto;
}

#hello {
	margin-left: 20px;
	color: white;
	font-family: 'SFPixelateRegular', "Times New Roman", Arial;
	position: absolute;
	top: 0;
}

#welcome {
	display: none;
	font-family: 'SFPixelateRegular', 'Times New Roman', Arial;
	font-size: 70px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	top: 0;
}

.sd {
	color: white;
	font-family: "Brush Script MT", "Apple Chancery", cursive;
	font-style: italic;
	font-size: 30px;
	margin-left: 20px;
	position: relative;
	top: 120px;
}

.google {
	width: 325px;
	position: relative;
	top: 700px;
}

.gs {
	width: 325px;
	border:3px solid #000;
	border-radius: 15px;
}

.form-control:focus {
	border: 3px ridge green;
	width: 220px;
}

/*===========================
	CARD GROUP (DEVELOPER SKILLS)
=============================*/
.devskills {
	height: 900px;
}

#skills {
	font-family: "Times New Roman";
	color: #fffc;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	padding: 75px 0 50px 0;
}
.card-group .card-body {
	height: 250px;
}
.card-group img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 200px;
	max-height: 200px;
}

.card-group .card-title {
	text-decoration: underline overline;
}

/*===========================
	SLIDESHOW (PROJECTS)
=============================*/
#project {
	background-color: rgb(100,100,100);
	height: 900px;
}

.carousel-item img {
	width: auto;
	height: 550px;
	margin-top: 130px;
}

/*===========================
	EDUCATION
=============================*/
#edu {
	height: 900px;
}

/*===========================
	FORM (CONTACT)
=============================*/
#contact_me {
	height: 900px;
}

#contact {
	width: 500px;
	height:500px;
	border: 3px solid #000;
	border-radius: 15px;
	margin: auto;
	position: relative;
	top: 200px;
}

.form-header {
	width: 100%;
	height: 10%;
	background-color: #d3def0;
	border-bottom: 2px dashed #000;
	text-align: center;
	font-family: ;
	font-size: 30px;
	font-weight: bold;
	border-radius: 13px 13px 0 0;
}

form {
	height: 90%;
	background-color: #eff0f2;
	border-radius: 0 0 13px 13px;
}

input {
	width: 75%;
	font-family: caption;
	font-size: 18px;
	padding: 7px;
	margin-top: 15px;
	text-align: left;
}

.msg {
	height: 125px;
	padding-bottom: 100px;
}

input:focus {
	border: 5px inset #aaa;
	font-style: italic;
}

form .contact_btn {
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	background-color: #12a0e8;
	margin: 15px 0 0 75%;
}

form .contact_btn:hover {
	border: 3px solid #fff;
	box-shadow: 5px 5px 10px #000,
				5px -5px 10px #000,
				-5px 5px 10px #000,
				-5px -5px 10px #000;
}