/*===========================
	NAVIGATION
=============================*/
.nav-link {
	color: #fff;
}

.navbar-brand:hover {
}

/*===========================
	JUMBOTRON
=============================*/
.jumbotron-fluid {
	margin-bottom: auto;
}
#matrix {
	background-image: url("../img/Matrix/Matrix_Background.svg");/* Free Vector Design by: <a target="_blank" href="https://www.vecteezy.com">www.vecteezy.com</a> */
	background-size: 30%;
	height:700px;
	max-height:700px;
}

#hello {
	color: white;
	font-family: 'SFPixelateRegular', "Times New Roman", Arial;
	margin-top: 70px;
}

.sd {
	color: white;
	font-family: "Brush Script MT", "Apple Chancery", cursive;
	font-size: 50px;
}

.gs {
	width: 300px;
	border:3px solid #000;
	border-radius: 15px;
}

.form-control:focus {
	border: 3px ridge green;
}

/*===========================
	CARD GROUP (DEVELOPER SKILLS)
=============================*/
#skills {
	font-family: "Times New Roman";
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	padding: 75px 0 50px 0;
}

.card-group img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: 250px;
	max-height: 250px;
}

.card-text {
	margin-left: 10%;
}

.card-title {
	text-decoration: underline overline;
}

/*===========================
	SLIDESHOW (PROJECTS)
=============================*/
#project {
	background-color: gray;
	height: 700px;
	max-height: 700px;
}

.carousel-item img {
	width: auto;
	height: 400px;
	max-height: 400px;
	margin-top: 130px;
}

.pinfo {
	
}

/*===========================
	EDUCATION
=============================*/
.jumbotron {
	height: 700px;
	max-height: 700px;
}

#edu {
	font-family: "Times New Roman";
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	padding: 75px 0 50px 0;
}

/*===========================
	FORM (CONTACT)
=============================*/
#project{
	height:700px;
	max-height:700px;
}

#contact {
	width: 500px;
	height:500px;
	border: 3px solid #000;
	margin: 10% auto;
	border-radius: 15px;
}

.form-header {
	width: 100%;
	height: 10%;
	background-color: #d3def0;
	border-bottom: 2px dashed #000;
	text-align: center;
	font-family: ;
	font-size: 30px;
	font-weight: bold;
	border-radius: 13px 13px 0 0;
}

form {
	height: 90%;
	background-color: #eff0f2;
	border-radius: 0 0 13px 13px;
}

input {
	width: 75%;
	font-family: caption;
	font-size: 18px;
	padding: 7px;
	margin-top: 15px;
	text-align: left;
}

.msg {
	height: 125px;
	padding-bottom: 100px;
}

input:focus {
	border: 5px inset #aaa;
	font-style: italic;
}

form .contact_btn {
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	background-color: #12a0e8;
	margin: 15px 0 0 75%;
}

form .contact_btn:hover {
	border: 3px solid #fff;
	box-shadow: 5px 5px 10px #000, 5px -5px 10px #000, -5px 5px 10px #000, -5px -5px 10px #000;
}